.snap_container {
  display: flex;
  flex: none;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.snap_container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.snap_container::-webkit-scrollbar-thumb {
  display: none;
}
