.circle {
  top: 125px;
  width: calc(min(130vw, 63vh));
  height: calc(min(130vw, 63vh));
  left: calc(50vw - (min(130vw, 63vh) / 2));
  background-color: #d0e9ff;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  filter: blur(34.1px);
  -webkit-filter: blur(34.1px);
  -moz-filter: blur(34.1px);
  -o-filter: blur(34.1px);
  -ms-filter: blur(34.1px);
}

.confetti1 {
  position: absolute;
  width: 9px;
  height: 18px;
  left: 66.66px;
  z-index: 2;
  top: 23px;
  background: #8ff8ff;
  transform: rotate(32.68deg);
}

.confetti2 {
  /* Rectangle 3981 */

  position: absolute;
  width: 9px;
  z-index: 2;
  height: 18px;
  left: 40.67px;
  top: 104.16px;
  background: #ffed47;
  transform: rotate(-14.72deg);
}

.confetti3 {
  /* Rectangle 3982 */

  position: absolute;
  width: 7.51px;
  height: 15.02px;
  right: 102.57px;
  top: 96.13px;
  z-index: 2;

  background: #ffaa8f;
  transform: rotate(32.68deg);
}

.confetti4 {
  /* Rectangle 3979 */

  position: absolute;
  width: 9px;
  height: 18px;
  right: 32.51px;
  top: 122.69px;
  z-index: 2;

  background: #f8a2ff;
  transform: rotate(-17.44deg);
}

.confetti5 {
  /* Rectangle 3983 */
  position: absolute;
  width: 9px;
  height: 18px;
  left: 43.82px;
  z-index: 2;
  top: -43.61px;

  background: #f7a1ff;
  transform: rotate(45deg);
}

.snap_container {
  display: flex;
  flex: none;
  overflow-x: auto;
  overflow-y: visible;
  width: "100%";
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.snap_container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.snap_container::-webkit-scrollbar-thumb {
  display: none;
}

@keyframes zoomin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.zoom {
  animation: zoomin 0.4s ease-in-out;
  overflow: visible;
}

@keyframes zoomin {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
