.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 14.6px 10px 0;
  border-color: transparent white transparent transparent;
  transform: rotate(0deg);
  position: relative;
}

.inner_triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 12.6px 9px 0;
  border-color: transparent rgba(248, 251, 255) transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  right: 0;
  top: 1px;
}

.animation_1 {
  opacity: 0;
  animation: fadein 0.4s 0.2s ease-in forwards;
}
.animation_2 {
  opacity: 0;
  animation: fadein 0.4s 0.6s ease-in forwards;
}
.animation_3 {
  opacity: 0;
  animation: fadein 0.5s 1.2s ease-in forwards;
}

.animation_hide {
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation_body {
  transition: opacity 0.5s ease-in;
}
